.hours {
    color: white;
    background-color: black;
    padding: 10rem;
    margin: 10px;
    font-size: 16rem;
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: white 10px solid;
    font-family: 'Arial', sans-serif;
    user-select: none;
    cursor: default;
}

.hours:hover {
    background-color: white;
    color: black;
}

.minutes {
    color: white;
    background-color: black;
    padding: 10rem;
    margin: 10px;
    font-size: 16rem;
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: white 10px solid;
    font-family: 'Arial', sans-serif;
    user-select: none;
    cursor: default;
}

.minutes:hover {
    background-color: white;
    color: black;
}

.seconds {
    color: white;
    background-color: black;
    padding: 10rem;
    margin: 10px;
    font-size: 16rem;
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: white 10px solid;
    font-family: 'Arial', sans-serif;
    user-select: none;
    cursor: default;
}

.seconds:hover {
    background-color: white;
    color: black;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.seconds:active {
    animation: pulse 1s forwards;
}

.minutes:active {
    animation: pulse 1s forwards;
}

.hours:active {
    animation: pulse 1s forwards;
}
.colon {
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    font-size: 16rem;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
}